<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="Keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>suvinando | v0.1.0</title>
    <link rel="icon" href="../../images/favicon.png">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../libraries/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../libraries/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body ng-app="suvApp">
    <div ng-controller="invoiceController as invoice" class="container">
      <div class="page-header">
        <h1>Fatura {{invoice.competencia}}<h1>
      </div>

      <!-- Add Tickets-->
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Add a new Ticket...</h3>
            </div>
            <div class="panel-body">
              <form ng-submit="invoice.addTicket()" class="form">
                <div class="form-group">
                  <label for="iDescription">Description</label>
                  <input type="text" class="form-control" id="iDescription" ng-model="invoice.ticketInView.description" placeholder="Description...">
                </div>

                <div class="form-group">
                  <label for="iPrice">Price</label>
                  <input type="number" class="form-control" id="iPrice" ng-model="invoice.ticketInView.price" placeholder="Price...">
                </div>

                <input class="btn btn-primary" type="submit" value="add">
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Deus tá vendo JOVEM ;\ -->
      <br>

      <!-- Ticket's List-->
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Ticket's List...</h3>
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <tr>
                  <th>Ticket</th>
                  <th>Price</th>
                <tr>
                <tr ng-repeat="ticket in invoice.tickets">
                  <td>{{ticket.description}}</td>
                  <td>{{ticket.price}}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>{{invoice.total}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../../libraries/angular/angular.min.js"></script>
    <script src="../../js/main.js"></script>
    <!-- Controllers -->
    <script src="../../controllers/invoiceController.js"></script>
  </body>
</html>
